# Input
# Directory contains the imported files
#---------------------------------------------
*.txt
*.bat
*.flg
*.zip
/import.asm/
/import/*
!/import/Base-Native/
!/import/Base-Shared-Default/
!/import/Base-Default/
!/import/Base-Game/
!/import/SFSE/
!/import/Test-Sample/


# Output
# Directory contains the exported files
#---------------------------------------------
*.wiki
# /export/
/export/Base-Native/
/export/Base-Shared-Default/
/export/Base-Default/
/export/Base-Game/
/export/SFSE/
/export/Test-Sample/
